<!DOCTYPE html>
<html>

<head>
    <title>api</title>
</head>

<body style="color: rgb(255, 0, 0); background-color: rgb(255,255, 255);">
    <p style="text-align: center;"><strong>WELCOME!!!</strong></p>
    <p style="text-align: center;"><strong>This is a API Developed by Devashish Upadhyay to Manage Microsoft SQL Server</strong></p>
    <ul>
        <li><a href="http://127.0.0.1:5000/updatedb" target="_blank" rel="noopener noreferrer"></a><a href="http://127.0.0.1:5000/updatedb" rel="noopener noreferrer" target="_blank"><strong>New Student</strong></a></li><br>
        <li><a href="http://127.0.0.1:5000/search" rel="noopener noreferrer" target="_blank"><strong>Student Search</strong></a></li><br>
        <li><a href="http://127.0.0.1:5000/sql" rel="noopener noreferrer" target="_blank"><strong>Execute SQL Query</strong></a></li><br>
    </ul>
    <p><br></p>
    <p><br></p>
</body>

</html>