<!DOCTYPE html>
<html>

<head>
    <title>Search</title>
</head>

<body style="color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);">
    <form action="/updatedb" method="POST" style="text-align: center;">
        <h2 style="text-align: center;"><strong>Fill the Following Details to Update Database:</strong></h2>New Campus Id :<br><input type="text" name="campusid"><br>
        <h2><br></h2>Full Name :<br><input type="text" name="fullname"><br>
        <h2><br></h2>Batch :<br><input type="text" name="batch"><br>
        <h2><br></h2>New Student :<br><input type="submit" value="Enter">
    </form>
</body>

</html>